:root {
    --primary-color: rgb(151,16,16);
    --secondary-color: black;
}

* {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: var(--secondary-color);
}

.background-image {
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}