* {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    text-align: center;
    background-color: black;
    color:rgb(151, 19, 19);
}

header {
    display: block;
}

/*This section styles the start button and highscore button*/
.button-start,
.button-highscores {
    background-color: rgb(151, 19, 19);
    color:black;
    font-weight: bold;
}